$font-weights: (
    "thin": 100,
    "extra-light": 200,
    "light": 300,
    "regular": 400,
    "medium": 500,
    "semi-bold": 600,
    "bold": 700,
    "extra-bold": 800,
    "black": 900
);

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

$sans-serif-fonts:  "Inter", Fira Sans, IBM Plex Sans, Work Sans, system-ui, sans-serif;
$serif-fonts: "IBM Plex Serif", Vollkorn;
$code-fonts:  "Space Mono", Hack, Fira Code, monospace;

$base-font-size: 1.0em;

$accent-color:  #2ecc71;
