/*
  PAEROA CSS
  version: 0.4

  http://t94xr.github.io/paeroa-css
  me@cameronwalker.nz
as
*/

@charset "UTF-8";

@import 'scss/fonts';
@import 'scss/variables';

html {
	line-height: 24pt;
  color: #444444;

  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}
body {
  background-color: #F7F7F7;
  padding-top: 75px;
}

::selection {
	background-color: $accent-color;
	color: #fff;
}

@import 'scss/structure';
@import 'scss/structure-grid';
@import 'scss/structure-flex';

@import 'scss/tables';
@import 'scss/html-tags';

@import 'scss/typography';
@import 'scss/general-classes';

@import 'scss/extras-design';
