/*
  PRINT STYLESHEET
  PAEROA CSS
  version: 0.3

  http://t94xr.github.io/paeroa-css
  me@cameronwalker.nz

*/

@charset "UTF-8";

@import 'scss/fonts';
@import 'scss/variables';

/* Main CSS Code */
html {
  font-family: $sans-serif-fonts ;
	line-height: 1.90em;
  font-size: $base-font-size;
  color: #444444;
  letter-spacing: -0.75px;

  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;

  /* Open Digits */
  font-feature-settings: 'ss01' 1;
  /* Disambiguation */
  font-feature-settings: 'ss02' 1;
  /* Auto Fractions */
  font-feature-settings: 'frac' 1;
  /* Slashed Zero Digit */
  font-feature-settings: 'zero' 1;
  /* Upper-case i with Serif */
  font-feature-settings: 'cv08' 1;
  /* Flat top Three Digit */
  font-feature-settings: 'cv09' 1;
  /* Open Digits */
  font-feature-settings: 'cv11' 1;
  /* Stylistic Alternatives */
  font-feature-settings: 'salt' 1;
}
body {
  background-color: #F7F7F7;
  padding-top: 50px;
}
main {
	max-width: 1280px;
	margin: auto;
  background-color: #fff;
  padding: 25px 50px 25px 50px;
}
main.bordered {
  border: 1px solid #D4D4D4;
  -webkit-box-shadow: 0px 0px 41px -8px rgba(237,234,237,1);
  -moz-box-shadow: 0px 0px 41px -8px rgba(237,234,237,1);
  box-shadow: 0px 0px 41px -8px rgba(237,234,237,1);
}
header {
	text-align: center;
  margin-bottom: 25px;
  display: flex;
}
header section.left {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: left;
}
header section.right {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: right;
}


header h1 {
	font-weight: weight(extra-bold);
	font-size: 3em;
  letter-spacing: -3px;
  padding: 30px 0 0 0;
  margin-bottom: 0;
  border: none;
}
header h2 {
  font-weight: weight(extra-light);
	font-size: 1.25em;
  letter-spacing: -2.5px;
}
header p {
	font-weight: weight(extra-light);
	font-size: 1em;
}
nav {
  text-transform: uppercase;
	font-size: 1em;
  font-weight: weight(bold);
  padding-top: 20px;
}
nav a {
  justify-content: space-around;
  display: inline-flex;
  border: none;
  margin-left: 10px;
}

div.flexbox {
  display: flex;
}

div.box {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: left;
}




img {
	max-width: 100%;
}
img.right {
  max-width: 60%;
  float: right;
  margin-left: 10px;
}

li {
	padding-left: 10px;
}

a {
  text-decoration: none;
  color: #444444;
  font-weight: weight(regular);
  display: inline-block;
  border-bottom: 2px solid $accent-color;
  padding-bottom: 0;
  line-height: 1em;
}
a:hover {
  border-bottom: 3px solid $accent-color;
}

h1 {
  font-size: 2.25rem;
  font-weight: weight(bold);
  letter-spacing: -2px;
  padding: 20px 0px 10px 20px;
  margin: 10px 0 20px 0;
  border-left: 7px solid $accent-color;
}
h2 {
  font-size: 2.0rem;
  font-weight: weight(semi-bold);
  letter-spacing: -2px;
  padding: 0;
  margin: 30px 0 30px 0;
}
h3 {
  font-size: 1.75rem;
  font-weight: weight(light);
  letter-spacing: -1.5px;
  padding-bottom: 0;
  margin: 30px 0 30px 0;
}
h4 {
  font-size: 1.5rem;
  font-weight: weight(light);
  letter-spacing: -1.5px;
  padding: 0;
  margin: 30px 0 30px 0;
}
h5 {
  font-size: 1.5rem;
  font-weight: weight(light);
  letter-spacing: -1.5px;
  padding: 0;
  margin: 30px 0 30px 0;
}
h6 {
  font-size: 1.25rem;
  font-weight: weight(extra-light);
  letter-spacing: -1.5px;
  padding: 0;
  margin: 30px 0 30px 0;
}

.uppercase {
  text-transform: uppercase;
}


footer {
	border-top: 1px gray solid;
	margin-top: 50px;
	font-size: small;
}

aside {
    width: 40%;
    padding-left: 1.25rem;
    margin-left: 1.5rem;
    float: right;
    border-left: 8px solid $accent-color;
    color: $accent-color;
    font-weight: weight(light);
}

aside > p {
    margin: .5rem;
}

blockquote{
  font-size: 1em;
  width:85%;
  margin:50px auto;
  font-style: italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left: 8px solid $accent-color ;
  line-height:1.6;
  position: relative;
  background:#f5f5f5;
}

blockquote::before{
  font-family:"Arial";
  content: "\201C";
  color: $accent-color;
  font-size:5em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: weight(bold);
  margin-top:1em;
}

.column-2 {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

figure {
	float: right;
	width: 350px;
	padding: 10px;
  margin: 30px 0 30px 20px;
	border: 1px solid $accent-color;
}
figure img {
	text-align: center;
	display: block;
	margin: 0 auto;
}
figure figcaption {
	padding-top: 10px;
	font-size: small;
	line-height: 1.5em;
	font-weight: weight(light);
}
pre {
	background-color: rgb(40,43,46);
	padding: 25px;
	color: white;
	line-height: 1.5em;
	font-size: 11pt;
	overflow: auto;
  letter-spacing: 0.5px;
}
pre, pre *, code {
    font-family: $code-fonts;
}
samp {
  letter-spacing: normal;
  font-size: 11pt;
}

section.left {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: left;
}
section.right {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: right;
}


time {
  opacity: 0.6;
}

dl dt {
  font-weight: weight(bold);
}
dl dd {
  font-weight: weight(light);
  font-style: italic;
}

/* Add " (PDF)" text after links that go to PDFs */
a[href$=".pdf"]:after { content: " (PDF)" url("pdficon.png"); }

/* If file size specified as data attribute, use that too */
a[href$=".pdf"][data-size]:after { content: " (PDF, " attr(data-size) ")" url("pdficon.png"); }

address {
	border-left: 8px solid $accent-color;
	padding:0.5em 12.5px 0.5em 25px;
	width:85%;
	margin: 20px

}

kbd {
    font-family: $code-fonts ;
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.95em;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}
q {
	font-style: italic;
  quotes: "“" "”";
}

@import 'scss/tables';
@import 'scss/extras';
